  @use "../global" as global;

  .u-separate {
    margin: 60px auto;

    @include global.mq(sp) {
      margin: 40px auto;
    }
  }

  .u-separate__light {
    background: global.$sub-color;
    margin: 0 auto;
    padding: 60px 0;

    @include global.mq(sp) {
      padding: 40px 0;
    }
  }

  .u-separate__title {
    font-family: 'Futura';
    color: #9f9ec1;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    @include global.mq(sp) {
      font-size: 22px;
    }
  }

  .u-separate__subtitle {
    color: global.$accent-color;
    font-size: 48px;
    font-weight: 700;
    text-align: center;

    @include global.mq(sp) {
      margin-top: 12px;
      font-size: 30px;
    }
  }

  .u-separate__sns {
    margin: 40px auto 0;
  }

  