//色
$main-color: #EDECFC;
$sub-color: #F9F9F9;
$accent-color: #64629D;
$text-color: #2D2D32;
$link-color: #1592e6;

//フォント
$ff-base: 'Noto Sans JP', "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; // 日本語標準
$ff-log: 'Lato', 'sans-serif';
$fz-base: 16px;
$fw-base: 400;
$lh-base: 1.6;
$ls-base: .08;

// レイアウト
$wide-width: 1920px;
$inner-width: 1440px;
$tab-width: 1000px;
$sp-width: 768px;

// ブレークポイント
$breakpoints: (
  // スマホ以下の場合
  "sp": "screen and (max-width: #{$sp-width - 1px})",
  // タブレット以下の場合
  "tab": "screen and (max-width: #{$tab-width - 1px})",
  // タブレット以上の場合
  "pc": "screen and (min-width: #{$inner-width})"
);

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);
