*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}

.is-pc {
	display: block;
}

.is-tab {
	display: block;
}

body {
	color: #585684;
	font-family: "Noto Sans JP", "NotoSansCJKjp", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.08;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1280px;
}

.l-header {
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 20;
}

.l-header__nav {
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	width: 1280px;
}

.l-header__left {
	margin-left: 0;
	width: 50%;
}

.l-header__right {
	display: flex;
	margin-left: auto;
	width: 50%;
}

.l-top {
	height: auto;
	margin: 0 auto;
	padding-top: 60px;
	width: 100%;
}

.l-content {
	align-items: start;
	display: flex;
	height: auto;
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;
	width: 100%;
}

.l-content__main {
	width: 70%;
}

.l-content__side {
	width: 30%;
}

.l-footer {
	margin: 0 auto;
	width: 100%;
}

.l-toTop {
	bottom: 60px;
	position: fixed;
	right: 30px;
}

.l-contact {
	height: auto;
	margin-top: 20px;
	padding-top: 60px;
	width: 100%;
}

.c-btn {
	background: #fff;
	border-radius: 10px;
	color: #fff;
	font-weight: 700;
	padding: 10px 20px;
}

.c-drawer {
	height: 25px;
	position: relative;
	transition: transform 0.3s ease 0s;
	width: 25px;
	z-index: 21;
}

.c-drawer.is-open {
	right: 15px;
}

.c-drawer.is-open .c-drawer__line:nth-child(1) {
	top: 50%;
	transform: rotate(-45deg);
}

.c-drawer.is-open .c-drawer__line:nth-child(2) {
	display: none;
}

.c-drawer.is-open .c-drawer__line:nth-child(3) {
	top: 50%;
	transform: rotate(45deg);
}

.c-drawer__line {
	background: #fff;
	border-radius: 1px;
	content: "";
	height: 3px;
	margin-top: 2px;
	position: absolute;
	width: 100%;
}

.c-drawer__line.is-show {
	background: #fff;
}

.c-drawer__line:nth-child(1) {
	right: -50%;
	top: 0%;
}

.c-drawer__line:nth-child(2) {
	right: -50%;
	top: 50%;
	transform: translateY(-50%);
}

.c-drawer__line:nth-child(3) {
	bottom: 0;
	right: -50%;
}

.c-toTop {
	background: #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

.c-toTop:hover {
	background: linear-gradient(to bottom, #fff, #fff);
	border: 1px solid #fff;
}

.c-main-visual-title-block {
	display: flex;
	margin-top: 44px;
	padding-left: 6px;
}

.p-main-visual-head-primary {
	background: #004986;
	color: #FFEA00;
	font-family: "Montserrat", sans-serif;
	font-size: 43px;
	font-weight: 700;
	height: 92px;
	padding: 25px 46px 24px 41px;
	width: 431px;
}

.p-main-visual-head-primary::after {
	color: #fff;
	content: "+";
	font-size: 50px;
	font-weight: normal;
	left: 45.2%;
	position: absolute;
	top: 37%;
}

.p-main-visual-head-secondary {
	background: #004986;
	color: #FFEA00;
	font-family: "Montserrat", sans-serif;
	font-size: 43px;
	font-weight: 700;
	height: 92px;
	margin-left: 84px;
	padding: 25px 46px 24px 41px;
	width: 431px;
}

.c-util-button {
	margin: 0 auto;
	max-width: 432px;
	padding: 30px 0;
	width: 100%;
}

.p-util-text {
	background: #FFEA00;
	color: #000;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	padding: 29px 128px 26px;
	position: relative;
}

.p-util-text::after {
	background-image: url('data:image/svg+xml;utf8,<svg height="18.249" viewBox="0 0 16.477 18.249" width="16.477" xmlns="http://www.w3.org/2000/svg"><path d="m981.3 1158.54 13.974 7.608-13.974 8.92" fill="none" stroke="%23000" stroke-width="2" transform="translate(-980.765 -1157.662)"/></svg>');
	content: "";
	display: inline-block;
	height: 18.249px;
	left: 73%;
	position: absolute;
	top: 38%;
	width: 16.477px;
}

.c-section-button {
	margin: 100px auto 0;
	max-width: 432px;
	width: 100%;
}

.p-section-button-text {
	background: #004986;
	color: #fff;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	padding: 29px 66px 26px;
	position: relative;
}

.p-section-button-text::after {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.477" height="18.249" viewBox="0 0 16.477 18.249"><path id="パス_15" data-name="パス 15" d="M981.3,1158.54l13.974,7.608-13.974,8.92" transform="translate(-980.765 -1157.662)" fill="none" stroke="%23fff" stroke-width="2"/></svg>');
	content: "";
	height: 16px;
	position: absolute;
	right: 43px;
	top: 39%;
	width: 16px;
}

.c-question-button {
	margin: 68px auto 0;
	max-width: 470px;
	width: 100%;
}

.p-question-button-text {
	background: #004986;
	color: #fff;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	padding: 35px 73px 26px 46px;
	position: relative;
}

.p-question-button-text::after {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16.477" height="18.249" viewBox="0 0 16.477 18.249"><path id="パス_15" data-name="パス 15" d="M981.3,1158.54l13.974,7.608-13.974,8.92" transform="translate(-980.765 -1157.662)" fill="none" stroke="%23fff" stroke-width="2"/></svg>');
	content: "";
	height: 16px;
	position: absolute;
	right: 46px;
	top: 43%;
	width: 16px;
}

.p-profile__sns {
	align-items: center;
	display: flex;
	gap: 10px;
}

.p-profile__sns-x {
	font-size: 20px;
}

.p-profile__sns-facebook {
	font-size: 20px;
}

.p-profile__sns-instagram {
	font-size: 20px;
}

.p-contact {
	margin-top: 60px;
	width: 1000px;
}

.p-contact__field {
	align-items: center;
	display: flex;
	gap: 20px;
	height: auto;
	margin-left: 100px;
	width: inherit;
}

.p-contact__field:not(:first-child) {
	margin-top: 20px;
}

.p-contact__field.-radio {
	align-items: start;
}

.p-contact__head {
	align-items: center;
	background: #004986;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;
	width: 250px;
}

.p-contact__tag {
	background: #ff0000;
	border-radius: 2px;
	display: inline-block;
	padding: 2px 5px;
}

.p-contact__item [type=text] {
	border: 1px solid #000;
	padding: 12px 20px;
	width: 400px;
}

.p-contact__item [type=radio] {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.p-contact__radios {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.p-contact__radio-text {
	padding-left: 24px;
	position: relative;
}

.p-contact__radio-text::before,
.p-contact__radio-text::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.p-contact__radio-text::before {
	border: 1px solid #585684;
	content: "";
	height: 20px;
	left: 0;
	position: absolute;
	width: 20px;
}

.p-contact__radio-text::after {
	content: "";
	position: absolute;
}

.p-contact__btn {
	margin-top: 60px;
}

.p-header {
	margin: 0 auto;
	width: 1200px;
}

.u-separate {
	margin: 60px auto;
}

.u-separate__light {
	background: #F9F9F9;
	margin: 0 auto;
	padding: 60px 0;
}

.u-separate__title {
	color: #9f9ec1;
	font-family: "Futura";
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.u-separate__subtitle {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.u-separate__sns {
	margin: 40px auto 0;
}

@media screen and (min-width: 1280px) {

.is-tab {
	display: none;
}

.is-sp {
	display: none;
}

}

@media screen and (max-width: 1279px) {

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 24px;
}

.l-header {
	padding: 0 24px;
}

.p-main-visual-head-primary {
	font-size: 32px;
	padding: 30px 46px 24px 41px;
	width: 350px;
}

.p-main-visual-head-primary::after {
	left: 44.5%;
	top: 32%;
}

.p-main-visual-head-secondary {
	font-size: 32px;
	margin-left: 68px;
	padding: 30px 46px 24px 41px;
	width: 350px;
}

}

@media screen and (max-width: 768px) {

.is-pc {
	display: none;
}

.is-tab {
	display: none;
}

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 16px;
}

.l-header {
	padding: 0 16px;
}

.l-header__nav {
	height: 60px;
}

.l-header__left {
	margin-left: 0px;
}

.l-toTop {
	bottom: 30px;
	right: 15px;
}

.c-toTop {
	height: 30px;
	line-height: 30px;
	width: 30px;
}

.c-main-visual-title-block {
	display: block;
	margin-top: 31px;
	padding-left: 150px;
}

.p-main-visual-head-primary {
	font-size: 42px;
	padding: 30px 46px 24px 41px;
	width: 435px;
}

.p-main-visual-head-primary::after {
	left: 48.5%;
	top: 39%;
}

.p-main-visual-head-secondary {
	font-size: 42px;
	margin-left: 0;
	margin-top: 41px;
	padding: 26px 59px 24px 41px;
	width: 435px;
}

.c-section-button {
	margin: 60px auto 0;
}

.u-separate {
	margin: 40px auto;
}

.u-separate__light {
	padding: 40px 0;
}

.u-separate__title {
	font-size: 22px;
}

.u-separate__subtitle {
	font-size: 30px;
	margin-top: 12px;
}

}

