@use "../global" as global;

.c-drawer {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 21;  //headerの重なり順：20
  transition: transform .3s ease 0s;

  &.is-open {
    right: 15px;

    .c-drawer__line{
      &:nth-child(1) {
        transform: rotate(-45deg);
        top: 50%;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
        top: 50%;
      }
    }
  }
}

.c-drawer__line {
  margin-top: 2px;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: global.$accent-color;

  &.is-show {
    background: global.$accent-color;
  }

  &:nth-child(1) {
    top: 0%;
    right: -50%;
  }

  &:nth-child(2) {
    top: 50%;
    right: -50%;
    transform: translateY(-50%);
  }

  &:nth-child(3) {
    bottom: 0;
    right: -50%;
  }
}
